// Sass partial for the footer

.footer {
    $mobile-breakpoint: 767px;
    background: var(--light-primary-color);

    .contentWrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 'legal title social' 
            'copyright title social';
        max-width: 1400px;
        margin: 0 auto;
        padding: 2em;

        .pageTitle {
            grid-area: title;
            font-size: clamp(1.2rem, 5vw, 2.4rem);
            text-align: center;
            margin: 0;
        }

        .legalLinks {
            grid-area: legal;

            @media only screen and (max-width: $mobile-breakpoint) {
                text-align: center;
            }

            ul {
                margin: 0;
                padding: 0;
            }

            li {
                list-style: none;
            }
        }

        .socialLinks {
            grid-area: social;
            text-align: right;

            @media only screen and (max-width: $mobile-breakpoint) {
                text-align: center;
            }

            ul {
                margin: 0;
                padding: 0;
            }

            li {
                list-style: none;
                margin: 0.5em 0;

                a {
                    display: flex;
                    gap: 0.5em;
                    justify-content: flex-end;

                    @media only screen and (max-width: $mobile-breakpoint) {
                        justify-content: center;
                    }
                }

                svg {
                    width: 1.2em;
                }
            }
        }

        .copyright {
            grid-area: copyright;

            @media only screen and (max-width: $mobile-breakpoint) {
                text-align: center;
            }
        }

        @media only screen and (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 'title title' 'legal social' 'copyright copyright';
        }

        @media only screen and (max-width: $mobile-breakpoint) {
            grid-template-columns: 1fr;
            grid-template-areas: 'title' 'legal' 'social' 'copyright';
        }
    }
}