// Sass partial for Park Cards list

.cards {
    background: var(--dark-primary-color);
    padding: 0.5em;

    .contentWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }

    .title {
        color: var(--light-primary-color);
        font-size: 2rem;
        margin: 0.5em auto;
        text-align: center;
    }
}