// Sass partial for Park Cards list

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}