// Sass partial for single park card

.card {
    display: grid;
    grid-template-columns: 1fr;
    background-size: cover;
    background-position: center bottom;
    isolation: isolate;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding: .7em;
    border: 2px solid var(--dark-primary-color);

    &:hover {
        border: 2px solid var(--light-primary-color);

        .contentWrapper {
            transform: translateY(0);
        }

        .parkName {
            color: white;

            &::after {
                transform: translateX(-0.7em);
            }
        }
    }

    &::before {
        content: '';
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        border-radius: inherit;
        filter: blur(0px);
        position: absolute;
        inset: 0;
        z-index: -1;
        transition: filter 500ms;
    }

    &:hover::before {
        filter: blur(5px);
    }

    &::after {
        content: '';
        background: transparent;
        position: absolute;
        mix-blend-mode: multiply;
        inset: 0;
        z-index: -1;
        transition: background 500ms;
    }
    
    &:hover::after {
        background: hsla(0, 0%, 50%, 1);
    }

    .contentWrapper {
        transform: translateY(120%);
        transition: transform 500ms;
        color: white;
    }
    
    .parkName {
        color: var(--dark-primary-color);
        font-size: 1.4rem;
        text-shadow: 0 0 0.3em var(--light-primary-color);
        transition: color 500ms;
        margin-bottom: 0;
        
        &::after {
            content: '';
            display: block;
            height: 3px;
            margin: 0.5em 0;
            background: var(--light-primary-color);
            transform: translateX(-120%);
            transition: transform 1s;
        }
    }

    .description {
        margin-top: 0;
    }

    .coords {
        display: flex;
        gap: 0.5em;

        svg {
            height: 1em;
        }
    }

    .activities {
        
        .title {
            font-size: 1.3rem;
            margin: 0.5em 0;
        }

        .activityList {
            margin: 0;
        }
    }

    .npsLink {
        background: white;
        color: var(--dark-primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4em;
        padding: 0.3em 0.7em;
        width: fit-content;
        border-radius: 0.7em;
        transition: 200ms;
        margin-top: 1em;

        svg {
            width: 0.6em;
        }

        &:hover {
            background: var(--dark-primary-color);
            color: white;
        }
    }
}